body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ant-row {
  margin-bottom: 15px;
}

.ant-row.ignor-margin {
  margin-bottom: 0px !important;
}

.ant-btn {
  width: 100%;
}

.ant-btn.ant-btn-primary.baemin__button {
  border-color: #3ab6c9;
  background: #3ac5c9;
}

.ant-popover.ant-row {
  margin-bottom: 0px;
}
